<div class="jumbotron" ng-app="distributeApp" style="height: 10px;">
    <p>표준판 다운로드</p>
</div>

<div ng-app="distributeApp" class="table-container"
     ng-controller="coreAttachPaginationCtrl as pc">
    <!-- <input ng-model="searchText" class="text-center"  placeholder="파일이름, 버전, 사이트" ng-change="filter()">
    <span class="glyphicon glyphicon-search"></span>  -->

    <table class="table table-striped" st-pipe="pc.callServer"
           st-table="pc.displayed">
        <thead>
        <tr>
            <th colspan="6">
                <custom-search></custom-search>
            </th>
        </tr>
        <tr>
            <th st-sort="category" st-skip-natural="true">Brand</th>
            <th st-sort="category" st-skip-natural="true">이름</th>
            <th st-sort="createdAt" st-skip-natural="true">등록일</th>
            <th st-sort="attach.size" st-skip-natural="true">파일 크기</th>
            <th>다운로드</th>
        </tr>
        </thead>

        <tbody ng-show="!pc.isLoading">
        <tr ng-repeat="row in pc.displayed">
            <td>{{row.brand}}</td>
            <td>{{row.name}}</td>
            <td>{{row.createdAt | date : 'yyyy/MM/dd/ HH:mm:ss'}}</td>
            <td>{{row.size}}KB</td>
            <td>
                <button type="button" ng-controller="coreAttachPaginationCtrl"
                        ng-click="packageDownload(row.brand, row.name)" class="btn btn-sm btn-primary">
                    <i class="glyphicon glyphicon-download" title="다운로드"></i>
                </button>
            </td>
        </tr>
        </tbody>

        <tbody ng-show="pc.isLoading">
        <tr>
            <td colspan="9" class="text-center">
                <div
                        class="loading-indicator"></div>
            </td>
        </tr>
        </tbody>

        <tfoot>
        <tr>
            <td class="text-center" st-pagination="" st-items-by-page="20"
                colspan="9"></td>
        </tr>
        </tfoot>
    </table>
</div>