<div id="customFilter">
    <div class="col-md-2">
        <select class="form-control" id="brand" ng-model="brandFilterValue">
            <option value="">Brand</option>
            <option value="DaouOffice">DaouOffice</option>
            <option value="TMS">TMS</option>
        </select>
    </div>
    <div class="col-md-2">
        <select class="form-control" id="type" ng-model="typeFilterValue">
            <option value="">Type</option>
            <option value="patch">Patch</option>
            <option value="install">Install</option>
        </select>
    </div>
</div>