<div ng-app="distributeApp" class="table-container" ng-controller="userDetailCtrl">
    <div class="page-header">
        <h1> 비밀번호변경</h1>
        <p class="lead">주기적으로 비밀번호를 변경해주세요.<br>
        </p>
    </div>
    <div class="col-lg-12">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td><label>비밀번호</label></td>
                    <td><input type="text" class="form-control" ng-model="password.first" placeholder="비밀번호를 입력하세요."></td>
                    <td><label>비밀번호 확인</label></td>
                    <td><input type="text" class="form-control" ng-model="password.second" placeholder="비밀번호를 입력하세요."></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="goToHome()">목록으로</button>
        <button type="button" class="btn btn-primary" ng-click="changepassword(password)">수정</button>
    </div>
</div>