<div ng-app="distributeApp">
   <div class="jumbotron">
      <h1>
         파일 업로드 <br />			
      </h1>
      파일의 이름은 아래와 같은 규칙을 지켜줘야 합니다.<br />
      <ul>
         <li>1) 패키지명-사이트명-버전-리비전</li>
         <li>2) 패키지명-사이트명-리비전</li>
      </ul>
      패키지명 : do, tms, custom, hotfix, android, iphone, messenger<br />
      패키지명이 CUSTOM 경우에만 2) 형태로 업로드가 가능합니다.<br />
      표준 패키지인 경우 SITE명이 standard 입니다.<br />
      ex) do-stardard-1600-1111.tar.gz<br /> 
      ex) do-daou-1600-1111.tar.gz<br />
      ex) custom-daou-1111.tar.gz<br />
   </div>
	<div ng-controller="fileboxListCtrl">
		<table st-table="rowCollection" class="table table-striped">
			<thead>
				<tr>
					<th>파일명</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="file in fileData">
					<td>{{file}}</td>
					<td><button type="button" ng-click="syncDelete(file)"
						class="btn btn-sm btn-danger">
						<i class="glyphicon glyphicon-remove-circle" title="삭제"></i>
					</button>
					</td>
				</tr>
			</tbody>
		</table>
		<button type="button" class="btn btn-warning" ng-click="sync()">동기화 시작</button>
	</div>



	<div ng-controller="multiFileUploadCtrl" nv-file-drop="" uploader="uploader">
      <div class="container">
         <div class="row">
            <div class="col-md-3">
               <h3>Drag And Drop</h3>
               <div ng-show="uploader.isHTML5">
                  <!-- 3. nv-file-over uploader="link" over-class="className" -->
                  <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                     Drop files here to attach them
                  </div>
               </div>
               <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
               Multiple
               <input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>
               Single
               <input type="file" nv-file-select="" uploader="uploader" />
            </div>
            <div class="col-md-9" style="margin-bottom: 40px">
               <h3>Upload queue</h3>
               <p>Queue length: {{ uploader.queue.length }}</p>
               <table class="table">
                  <thead>
                     <tr>
                        <th width="50%">Name</th>
                        <th ng-show="uploader.isHTML5">Size</th>
                        <th ng-show="uploader.isHTML5">Progress</th>
                        <th>Status</th>
                        <th>Actions</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="item in uploader.queue">
                        <td><strong>{{ item.file.name }}</strong></td>
                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <td ng-show="uploader.isHTML5">
                           <div class="progress" style="margin-bottom: 0;">
                              <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                           </div>
                        </td>
                        <td class="text-center">
                           <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                           <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                           <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                           <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                           <span class="glyphicon glyphicon-upload"></span> Upload
                           </button>
                           <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                           <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                           </button>
                           <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                           <span class="glyphicon glyphicon-trash"></span> Remove
                           </button>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <div>
                  <div>
                     Queue progress:
                     <div class="progress" style="">
                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                     </div>
                  </div>
                  <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                  <span class="glyphicon glyphicon-upload"></span> Upload all
                  </button>
                  <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                  <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                  </button>
                  <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                  <span class="glyphicon glyphicon-trash"></span> Remove all
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
